.baslik{
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    font-style: italic;
    margin-top: 8px;
}
.marketing {
    display:inline-block;
    margin-top: 50px;
    background-color: aliceblue;
    margin-left: 22px;
    border: 1px solid rgba(0,0,0,.125);
}
.en-fazla-okur {
    width: 450px;
    height: 806px;
    background-color: aliceblue;
    float: right;
    margin-right: 20px;
    position: relative;
    margin-top: 50px;
    border: 1px solid rgba(0,0,0,.125);
}
.okuyucu-bilgileri {
    margin-top: 50px;
    display: block;
    position: relative;
    margin-left: 15px;
}
.okuyucu-bilgileri span {
       font-size:24px;
}
.col-lg-4>p >a{
    background-color:burlywood;
    border-radius:5px;
}