.oturum {
    display:inline-block;
    float:right;
    margin-top:5px;
    margin-right:5px;
}
.btn-oturum {
    width:70px;
    height:35px;
    border-radius:8px;
}
.txt-oturum {
    width:196px;
    height:34px;
}
.kitaplik-resim-div {
    margin:5px;
    width:192px;
    height:261px;
}
.kitaplik-ad-div {
    text-align:center;
    width:177px;
    height:30px;
}
.kitaplik-div{
    display:inline-block;
    float:left;
}
.card{
    position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,0.125);
    border-radius:0.25rem;
}

